# 默认走淘宝镜像
registry = https://registry.npmmirror.com

# 私服npm用到，携带@xxx前缀的包名会走http://xxx.com:8080
# @dyb-dev:registry = https://registry.npmjs.org/

# 将所有的依赖提升到项目的根目录下，解决 @dcloudio/vite-plugin-uni 插件找不到依赖的问题
shamefully-hoist = true
